@page
@model galerie.Pages.GalleryModel
@{
}
<div class="hlava">
<h1 class="PageHeader">@Model.Gallery.GalleryName</h1> 
    @if (Model.Public)
    {
         <a asp-page="./PublicGalleries" ><button title="Back to Public Galleries" class="buton delete"><i class="fa fa-solid fa-arrow-left"></i></button></a>
   
    }
    else
    {
        <a asp-page="./Privacy" ><button title="Go to your galleries" class="buton delete"><i class="fa fa-solid fa-arrow-left"></i></button></a>
    }
    </div>


<div class="galleryflex">
                    @foreach (var f in Model.Gallery.Images)
                    {

            
                    @if (f.ThumbnailId != null)
                    {
                        <div class="galitem" style="border-color: @Model.Gallery.GalleryBackgroundColor">
                        <div class="karta">
                            <a asp-page="Image" asp-route-id="@f.Id">
                                <img class="card-img-top" src="@Url.Page("/Index","Thumbnail",new {filename=f.ThumbnailId })" alt="joe" draggable="false"/>
                            </a>
                            <div class="karta-body">
                                    <p >Image Name: @f.OriginalName </p>
                                    <p >Type: @f.ContentType </p>
                                    <p >Date: @f.UploadedAt </p>
                                     @if(f.IsPublic){
                                        <p>Status: Public</p>
                                        }
                                    else{
                                         <p>Status: Private</p>
                                     }
                        
                        @if (f.ThumbnailId != null)
                        {
                            <a asp-page-handler="thumbnail" asp-route-filename="@f.ThumbnailId" asp-route-galleryId="@Model.Gallery.GalleryId"><button title="Show Image" class="buton thumbnail"><i class="fa fa-image"></i></button></a>
                        }
                            <a asp-page-handler="download" asp-route-filename="@f.Id" asp-route-galleryId="@Model.Gallery.GalleryId"><button title="Download" class="buton download"><i class="fa fa-solid fa-download"></i></button></a>
                        @if (Model.Public)
                        {
                            
                        }
                        else
                        {
                            @if(f.IsPublic){
                       <a asp-page-handler="Visibility" asp-route-filename="@f.Id" asp-route-galleryId="@Model.Gallery.GalleryId"><button title="Make Private" class="buton visibility"><i class="fa fa-regular fa-eye-slash"></i></button></a>
                        }
                        else{
                            <a asp-page-handler="Visibility" asp-route-filename="@f.Id" asp-route-galleryId="@Model.Gallery.GalleryId"><button title="Make Public" class="buton visibility"><i class="fa fa-regular fa-eye"></i></button></a>
                        }
                         <a  asp-page-handler="delete" asp-route-filename="@f.Id" asp-route-galleryId="@Model.Gallery.GalleryId"><button title="Delete" class="buton delete"><i class="fa fa-trash"></i></button></a>
                           
                        }
                         </div>
                        </div>
                    </div>
                    }
                    }

</div> @*galleryflex*@





<div class="content-middle">
<a asp-page="./Upload" asp-page-handler="Gallery" asp-route-id="@Model.Gallery.GalleryId" ><button title="Add Image" class="buton add"><i class="fa fa-solid fa-plus"></i></button></a>   
</div>





