@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

        <section id="hero">
            <div class="container">
                <div class="d-flex flex-column flex-column-reverse flex-md-row">
                    <div class="col col-md-5 me-md-5">
                        <h1 class="main-text">Welcome to <u>Gollo</u>!</h1>
                        <p class="submain-text">
                           The biggest, most fine tuned gallery website in the multiverse. Feel free to explore our mighty lands as you please.
                        </p>
                    </div>
                    <div class="col col-md-7">
                        <div>
                            <img class="img-fluid rounded mb-4 mb-md-0" src="https://freebiespic.com/images/2019/0502_background-carpenter-long-nails-1024x604.jpg" alt="main-image" />
                        </div>
                    </div>
                </div>
            </div>
        </section>


          <div class="container">

                <h2 class="top-12">Explore The Top 12 Newest Public Images From All Users</h2>

                <div class="row g-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    @foreach (var f in Model.Files)
                    {

            
                    @if (f.ThumbnailId != null)
                    {
                        <div class="col">
                        <div class="card bg-dark border-0">
                            <img class="card-img-top" src="@Url.Page("/Index","Thumbnail",new {filename=f.ThumbnailId })" alt="joe" />
                            <div class="card-body">
                                    <p class="fs-5">Gallery Name: @f.Gallery.GalleryName </p>
                                    <p class="fs-5">Image Name: @f.OriginalName </p>
                                    <p class="fs-5">Type: @f.ContentType </p>
                                    <p class="fs-5">Uploader: @f.Uploader.UserName </p>
                                    <p class="fs-5">Date: @f.UploadedAt </p>
                            </div>
                        </div>
                    </div>
                    }
                    }

                </div>

            </div>




@if (Model.Files.Count > 0)
{
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Preview</th>
                 <th>Gallery Name</th>
                <th>Image Name</th>
                <th>Type</th>
                <th>Uploader</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var f in Model.Files)
            {

                <tr>
                    @if (f.ThumbnailId != null)
                    {
                        
                        <td><img src="@Url.Page("/Index","Thumbnail",new {filename=f.ThumbnailId })" /></td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@f.Gallery.GalleryName</td>
                    <td>@f.OriginalName</td>
                    <td>@f.ContentType</td>
                    <td>@f.Uploader.UserName</td>
                    <td>@f.UploadedAt</td>
                    <td>
                        <a class="btn btn-sm btn-primary" asp-page-handler="download" asp-route-filename="@f.Id">Download</a>
                        @if (f.ThumbnailId != null)
                        {
                            <a class="btn btn-sm btn-secondary" asp-page-handler="thumbnail" asp-route-filename="@f.ThumbnailId">Thumbnail</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>There are no files uploaded yet.</p>
}