@page
@model galerie.Pages.PublicGalleriesModel
@{
}

@if(Model.Galleries.Count == 0)
{
    <div class="alert alert-danger">There are no public galleries</div>
}
else
{
    <h1 class="PageHeader">List of All Public Galleries from All Users</h1>
}


 <div class="galleryflex">
@if (Model.Galleries.Count > 0)
{
    @foreach(var g in Model.Galleries)
{
                   
        <div class="galitem" style="border-color: @g.GalleryBackgroundColor">
            <div class="karta">
                   @if(g.Images.Count != 0)
                    {
                        <a asp-page="./Gallery" asp-route-galleryId="@g.GalleryId" asp-page-handler="Public"> <img class="card-img-top" src="@Url.Page("/Index","Thumbnail",new {filename=g.Images[0].ThumbnailId })" alt="joe" draggable="false"/></a>
                    }
                    else
                    {
                        <img class="card-img-top" src="https://source.unsplash.com/400x400" alt="joe" draggable="false"/>
                    }
                        <div class="karta-body">
                        <p class="galleryTitle">@g.GalleryName</p>
                         <p>Owner: @g.User.UserName</p>
                    @if (g.IsPublic)
                    {
                        <p>Status: Public</p>
                    }
                    else
                    {
                         <p>Status: Private</p>
                    }
                    @if(g.Images.Count != 0)
                    {
                        <p>Number of images: @g.Images.Count</p>
                        <p>Last updated: @g.Images[0].UploadedAt </p>
                    }
                    else
                    {
                         <p>Number of images: 0</p>
                         <p>Last updated: <i>never...</i>  </p>
                    }

                 <a asp-page="./Gallery" asp-route-galleryId="@g.GalleryId" asp-page-handler="Public"><button title="Open" class="buton open"><i class="fa fa-folder"></i></button></a>
                  </div>
            </div>
        </div> 
       
            

}
        
}
</div>
