<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - galerie</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/galerie.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="text-light">

     <header class="headerus">

            
            <div class="navbarus">
                <a id="title" asp-page="/Index">
                    Gollo
                </a>
                <ul class="navigace" style="scrollbar-width: thin">
                  
                    <div class="gals">

                    <li class="nav-item">
                        <a class="nav-link text-white link-info" asp-page="/Privacy">Your Galleries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white link-info" asp-page="/PublicGalleries">Public Galleries</a>
                    </li>                   
                </div>
              
               
                    <partial name="_LoginPartial" />

                </ul>
            </div>

    </header>
    <div>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">@TempData["SuccessMessage"]</div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Gollo - <a asp-area="" asp-page="/Index">Home</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>